<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>CORY Test API</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</head>

<style>
    .card {
        border-radius: .75rem;
    }
</style>

<body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-dark sticky-top bg-dark shadow-sm">
        <div class="container">
            <a class="navbar-brand" href="#">CORY Test API</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                    <a class="nav-link" href="#">Features</a>
                    <a class="nav-link" href="#">Pricing</a>
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid bg-secondary bg-gradient" style="height: 400px;">
        <div class="row d-flex justify-content-center" style="height: 100%">
            <div class="col-10 d-flex justify-content-start align-items-center">
                <div>
                    <h1 class="text-white display-1" style="font-size: 3rem">CORY Test API</h1>
                    <p class="text-white mb-1 lead">Using Open Source DVD Rental Database</p>
                    <p class="text-white">Powered By: NestJS, Postgresql, and lots of <span class="fs-3">☕</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mt-5">
            <div class="col">
                <h2 class="text-muted">Routes</h2>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card shadow-sm mt-4">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h5>Film</h5>
                            <div>
                                <span class="badge rounded-pill bg-secondary">Paging</span>
                                <span class="badge rounded-pill bg-secondary me-1">Count: 1000</span>
                            </div>
                        </div>
                        <table class="table table-borderless table-sm mb-0">
                            <tbody>
                                <tr>
                                    <td>
                                        <p class="mb-0 text-muted">GET</p>
                                    </td>
                                    <td>
                                        <a href="film" target="_blank">/film</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="mb-0 text-muted">GET</p>
                                    </td>
                                    <td>
                                        <a href="/film/id/1" target="_blank">/film/id/1</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="mb-0 text-muted">GET</p>
                                    </td>
                                    <td>
                                        <a href="/film?page=2&limit=25&sortBy=title:DESC"
                                            target="_blank">/film?page=2&limit=25&sortBy=title:DESC</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="mb-0 text-muted">GET</p>
                                    </td>
                                    <td>
                                        <a href="/film?search=Dinosaur" target="_blank">/film?search=Dinosaur</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card shadow-sm mt-4">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h5>Actor</h5>
                            <div>
                                <span class="badge rounded-pill bg-secondary me-1">Count: 200</span>
                            </div>
                        </div>
                        <table class="table table-borderless table-sm mb-0">
                            <tbody>
                                <tr>
                                    <td>
                                        <p class="mb-0 text-muted">GET</p>
                                    </td>
                                    <td>
                                        <a href="actor" target="_blank">/actor</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="mb-0 text-muted">GET</p>
                                    </td>
                                    <td>
                                        <a href="/actor/id/1" target="_blank">/actor/id/1</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="mb-0 text-muted">GET</p>
                                    </td>
                                    <td>
                                        <a href="/actor?firstname=Nick&lastname=Wahlberg"
                                            target="_blank">/actor?firstname=Nick&lastname=Wahlberg</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card shadow-sm mt-4">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h5>Address</h5>
                            <div>
                                <span class="badge rounded-pill bg-secondary">Paging</span>
                                <span class="badge rounded-pill bg-secondary me-1">Count: 603</span>
                            </div>
                        </div>
                        <table class="table table-borderless table-sm mb-0">
                            <tbody>
                                <tr>
                                    <td>
                                        <p class="mb-0 text-muted">GET</p>
                                    </td>
                                    <td>
                                        <a href="address" target="_blank">/address</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="mb-0 text-muted">GET</p>
                                    </td>
                                    <td>
                                        <a href="/address/id/1" target="_blank">/address/id/1</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="mb-0 text-muted">GET</p>
                                    </td>
                                    <td>
                                        <a href="/address?page=2&limit=25&sortBy=title:DESC"
                                            target="_blank">/address?page=2&limit=25&sortBy=title:DESC</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card shadow-sm mt-4">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h5>Category</h5>
                            <div>
                                <span class="badge rounded-pill bg-secondary">Paging</span>
                                <span class="badge rounded-pill bg-secondary me-1">Count: 16</span>
                            </div>
                        </div>
                        <table class="table table-borderless table-sm mb-0">
                            <tbody>
                                <tr>
                                    <td>
                                        <p class="mb-0 text-muted">GET</p>
                                    </td>
                                    <td>
                                        <a href="category" target="_blank">/category</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="mb-0 text-muted">GET</p>
                                    </td>
                                    <td>
                                        <a href="/category/id/1" target="_blank">/category/id/1</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card shadow-sm mt-4">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h5>City</h5>
                            <div>
                                <span class="badge rounded-pill bg-secondary">Paging</span>
                                <span class="badge rounded-pill bg-secondary me-1">Count: 600</span>
                            </div>
                        </div>
                        <table class="table table-borderless table-sm mb-0">
                            <tbody>
                                <tr>
                                    <td>
                                        <p class="mb-0 text-muted">GET</p>
                                    </td>
                                    <td>
                                        <a href="city" target="_blank">/city</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="mb-0 text-muted">GET</p>
                                    </td>
                                    <td>
                                        <a href="/city/id/1" target="_blank">/city/id/1</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="mb-0 text-muted">GET</p>
                                    </td>
                                    <td>
                                        <a href="/city?page=2&limit=25&sortBy=title:DESC"
                                            target="_blank">/city?page=2&limit=25&sortBy=title:DESC</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="mb-0 text-muted">GET</p>
                                    </td>
                                    <td>
                                        <a href="/city?search=Baha" target="_blank">/city?search=Baha</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card shadow-sm mt-4">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h5>Country</h5>
                            <div>
                                <span class="badge rounded-pill bg-secondary">Paging</span>
                                <span class="badge rounded-pill bg-secondary me-1">Count: 109</span>
                            </div>
                        </div>
                        <table class="table table-borderless table-sm mb-0">
                            <tbody>
                                <tr>
                                    <td>
                                        <p class="mb-0 text-muted">GET</p>
                                    </td>
                                    <td>
                                        <a href="country" target="_blank">/country</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="mb-0 text-muted">GET</p>
                                    </td>
                                    <td>
                                        <a href="/country/id/1" target="_blank">/country/id/1</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card shadow-sm mt-4">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h5>Customer</h5>
                            <div>
                                <span class="badge rounded-pill bg-secondary">Paging</span>
                                <span class="badge rounded-pill bg-secondary me-1">Count: 599</span>
                            </div>
                        </div>
                        <table class="table table-borderless table-sm mb-0">
                            <tbody>
                                <tr>
                                    <td>
                                        <p class="mb-0 text-muted">GET / POST</p>
                                    </td>
                                    <td>
                                        <a href="customer" target="_blank">/customer</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="mb-0 text-muted">GET</p>
                                    </td>
                                    <td>
                                        <a href="/customer?search=Mary" target="_blank">/customer?search=Mary</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="mb-0 text-muted">GET / DELETE / PATCH</p>
                                    </td>
                                    <td>
                                        <a href="/customer/id/1" target="_blank">/customer/id/1</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card shadow-sm mt-4">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h5>Film Actor</h5>
                            <div>
                                <span class="badge rounded-pill bg-secondary">Paging</span>
                                <span class="badge rounded-pill bg-secondary me-1">Count: 5462</span>
                            </div>
                        </div>
                        <table class="table table-borderless table-sm mb-0">
                            <tbody>
                                <tr>
                                    <td>
                                        <p class="mb-0 text-muted">GET</p>
                                    </td>
                                    <td>
                                        <a href="film-actor" target="_blank">/film-actor</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="mb-0 text-muted">GET</p>
                                    </td>
                                    <td>
                                        <a href="/film-actor/id/1" target="_blank">/film-actor/id/1</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card shadow-sm mt-4">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h5>Film Category</h5>
                            <div>
                                <span class="badge rounded-pill bg-secondary me-1">Count: 1000</span>
                            </div>
                        </div>
                        <table class="table table-borderless table-sm mb-0">
                            <tbody>
                                <tr>
                                    <td>
                                        <p class="mb-0 text-muted">GET</p>
                                    </td>
                                    <td>
                                        <a href="film-category" target="_blank">/film-category</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="mb-0 text-muted">GET</p>
                                    </td>
                                    <td>
                                        <a href="/film-category/id/1" target="_blank">/film-category/id/1</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card shadow-sm mt-4">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h5>Inventory</h5>
                            <div>
                                <span class="badge rounded-pill bg-secondary">Paging</span>
                                <span class="badge rounded-pill bg-secondary me-1">Count: 4581</span>
                            </div>
                        </div>
                        <table class="table table-borderless table-sm mb-0">
                            <tbody>
                                <tr>
                                    <td>
                                        <p class="mb-0 text-muted">GET</p>
                                    </td>
                                    <td>
                                        <a href="inventory" target="_blank">/inventory</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="mb-0 text-muted">GET</p>
                                    </td>
                                    <td>
                                        <a href="/inventory/id/1" target="_blank">/inventory/id/1</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card shadow-sm mt-4">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h5>Payment</h5>
                            <div>
                                <span class="badge rounded-pill bg-secondary">Paging</span>
                                <span class="badge rounded-pill bg-secondary me-1">Count: 14596</span>
                            </div>
                        </div>
                        <table class="table table-borderless table-sm mb-0">
                            <tbody>
                                <tr>
                                    <td>
                                        <p class="mb-0 text-muted">GET</p>
                                    </td>
                                    <td>
                                        <a href="payment" target="_blank">/payment</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="mb-0 text-muted">GET</p>
                                    </td>
                                    <td>
                                        <a href="/payment/id/1" target="_blank">/payment/id/1</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card shadow-sm mt-4">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h5>Rental</h5>
                            <div>
                                <span class="badge rounded-pill bg-secondary">Paging</span>
                                <span class="badge rounded-pill bg-secondary me-1">Count: 16044</span>
                            </div>
                        </div>
                        <table class="table table-borderless table-sm mb-0">
                            <tbody>
                                <tr>
                                    <td>
                                        <p class="mb-0 text-muted">GET</p>
                                    </td>
                                    <td>
                                        <a href="rental" target="_blank">/rental</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="mb-0 text-muted">GET</p>
                                    </td>
                                    <td>
                                        <a href="/rental/id/1" target="_blank">/rental/id/1</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card shadow-sm mt-4">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h5>Staff</h5>
                            <div>
                                <span class="badge rounded-pill bg-secondary">Paging</span>
                                <span class="badge rounded-pill bg-secondary me-1">Count: 0</span>
                            </div>
                        </div>
                        <table class="table table-borderless table-sm mb-0">
                            <tbody>
                                <tr>
                                    <td>
                                        <p class="mb-0 text-muted">GET / POST</p>
                                    </td>
                                    <td>
                                        <a href="staff" target="_blank">/staff</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="mb-0 text-muted">GET / DELETE / PATCH</p>
                                    </td>
                                    <td>
                                        <a href="/staff/id/1" target="_blank">/staff/id/1</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card shadow-sm mt-4">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h5>Language</h5>
                            <div>
                                <span class="badge rounded-pill bg-secondary">Paging</span>
                                <span class="badge rounded-pill bg-secondary me-1">Count: 6</span>
                            </div>
                        </div>
                        <table class="table table-borderless table-sm mb-0">
                            <tbody>
                                <tr>
                                    <td>
                                        <p class="mb-0 text-muted">GET</p>
                                    </td>
                                    <td>
                                        <a href="language" target="_blank">/language</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="mb-0 text-muted">GET</p>
                                    </td>
                                    <td>
                                        <a href="/language/id/1" target="_blank">/language/id/1</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card shadow-sm mt-4">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h5>Store</h5>
                            <div>
                                <span class="badge rounded-pill bg-secondary">Paging</span>
                                <span class="badge rounded-pill bg-secondary me-1">Count: 0</span>
                            </div>
                        </div>
                        <table class="table table-borderless table-sm mb-0">
                            <tbody>
                                <tr>
                                    <td>
                                        <p class="mb-0 text-muted">GET</p>
                                    </td>
                                    <td>
                                        <a href="store" target="_blank">/store</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="mb-0 text-muted">GET</p>
                                    </td>
                                    <td>
                                        <a href="/store/id/1" target="_blank">/store/id/1</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
<footer class="d-flex justify-content-center mt-4">
    <p class="text-muted"><small>Copyright 2022 Mediafish.io</small></p>
</footer>

</html>