<div class="row mt-5">
    <div class="col">
        <h2 class="text-muted">Routes</h2>
    </div>
</div>
<div class="row mt-4">
    <div class="col-sm-12 col-md-6">
        <div class="card shadow-sm mt-4">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h5>Film</h5>
                    <div>
                        <span class="badge rounded-pill bg-secondary">Paging</span>
                        <span class="badge rounded-pill bg-secondary me-1">Count: 1000</span>
                    </div>
                </div>
                <table class="table table-borderless table-sm mb-0">
                    <tbody>
                        <tr>
                            <td>
                                <p class="mb-0 text-muted">GET</p>
                            </td>
                            <td>
                                <a href="film" target="_blank">/film</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="mb-0 text-muted">GET</p>
                            </td>
                            <td>
                                <a href="/film/id/1" target="_blank">/film/id/1</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="mb-0 text-muted">GET</p>
                            </td>
                            <td>
                                <a href="/film?page=2&limit=25&sortBy=title:DESC"
                                    target="_blank">/film?page=2&limit=25&sortBy=title:DESC</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="card shadow-sm mt-4">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h5>Actor</h5>
                    <div>
                        <span class="badge rounded-pill bg-secondary me-1">Count: 200</span>
                    </div>
                </div>
                <table class="table table-borderless table-sm mb-0">
                    <tbody>
                        <tr>
                            <td>
                                <p class="mb-0 text-muted">GET</p>
                            </td>
                            <td>
                                <a href="actor" target="_blank">/actor</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="mb-0 text-muted">GET</p>
                            </td>
                            <td>
                                <a href="/actor/id/1" target="_blank">/actor/id/1</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="card shadow-sm mt-4">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h5>Address</h5>
                    <div>
                        <span class="badge rounded-pill bg-secondary">Paging</span>
                        <span class="badge rounded-pill bg-secondary me-1">Count: 603</span>
                    </div>
                </div>
                <table class="table table-borderless table-sm mb-0">
                    <tbody>
                        <tr>
                            <td>
                                <p class="mb-0 text-muted">GET</p>
                            </td>
                            <td>
                                <a href="address" target="_blank">/address</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="mb-0 text-muted">GET</p>
                            </td>
                            <td>
                                <a href="/address/id/1" target="_blank">/address/id/1</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="mb-0 text-muted">GET</p>
                            </td>
                            <td>
                                <a href="/address?page=2&limit=25&sortBy=title:DESC"
                                    target="_blank">/address?page=2&limit=25&sortBy=title:DESC</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="card shadow-sm mt-4">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h5>Category</h5>
                    <div>
                        <span class="badge rounded-pill bg-secondary me-1">Count: 16</span>
                    </div>
                </div>
                <table class="table table-borderless table-sm mb-0">
                    <tbody>
                        <tr>
                            <td>
                                <p class="mb-0 text-muted">GET</p>
                            </td>
                            <td>
                                <a href="category" target="_blank">/category</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="mb-0 text-muted">GET</p>
                            </td>
                            <td>
                                <a href="/category/id/1" target="_blank">/category/id/1</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="card shadow-sm mt-4">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h5>City</h5>
                    <div>
                        <span class="badge rounded-pill bg-secondary">Paging</span>
                        <span class="badge rounded-pill bg-secondary me-1">Count: 600</span>
                    </div>
                </div>
                <table class="table table-borderless table-sm mb-0">
                    <tbody>
                        <tr>
                            <td>
                                <p class="mb-0 text-muted">GET</p>
                            </td>
                            <td>
                                <a href="city" target="_blank">/city</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="mb-0 text-muted">GET</p>
                            </td>
                            <td>
                                <a href="/city/id/1" target="_blank">/city/id/1</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="mb-0 text-muted">GET</p>
                            </td>
                            <td>
                                <a href="/city?page=2&limit=25&sortBy=title:DESC"
                                    target="_blank">/city?page=2&limit=25&sortBy=title:DESC</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="card shadow-sm mt-4">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h5>Country</h5>
                    <div>
                        <span class="badge rounded-pill bg-secondary me-1">Count: 109</span>
                    </div>
                </div>
                <table class="table table-borderless table-sm mb-0">
                    <tbody>
                        <tr>
                            <td>
                                <p class="mb-0 text-muted">GET</p>
                            </td>
                            <td>
                                <a href="country" target="_blank">/country</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="mb-0 text-muted">GET</p>
                            </td>
                            <td>
                                <a href="/country/id/1" target="_blank">/country/id/1</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="card shadow-sm mt-4">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h5>Customer</h5>
                    <div>
                        <span class="badge rounded-pill bg-secondary">Paging</span>
                        <span class="badge rounded-pill bg-secondary me-1">Count: 599</span>
                    </div>
                </div>
                <table class="table table-borderless table-sm mb-0">
                    <tbody>
                        <tr>
                            <td>
                                <p class="mb-0 text-muted">GET / POST</p>
                            </td>
                            <td>
                                <a href="customer" target="_blank">/customer</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="mb-0 text-muted">GET / DELETE / PATCH</p>
                            </td>
                            <td>
                                <a href="/customer/id/1" target="_blank">/customer/id/1</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="mb-0 text-muted">GET</p>
                            </td>
                            <td>
                                <a href="/customer?page=2&limit=25&sortBy=title:DESC"
                                    target="_blank">/customer?page=2&limit=25&sortBy=title:DESC</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="card shadow-sm mt-4">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h5>Film Actor</h5>
                    <div>
                        <span class="badge rounded-pill bg-secondary me-1">Count: 5462</span>
                    </div>
                </div>
                <table class="table table-borderless table-sm mb-0">
                    <tbody>
                        <tr>
                            <td>
                                <p class="mb-0 text-muted">GET</p>
                            </td>
                            <td>
                                <a href="film-actor" target="_blank">/film-actor</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="mb-0 text-muted">GET</p>
                            </td>
                            <td>
                                <a href="/film-actor/id/1" target="_blank">/film-actor/id/1</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="card shadow-sm mt-4">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h5>Film Category</h5>
                    <div>
                        <span class="badge rounded-pill bg-secondary me-1">Count: 1000</span>
                    </div>
                </div>
                <table class="table table-borderless table-sm mb-0">
                    <tbody>
                        <tr>
                            <td>
                                <p class="mb-0 text-muted">GET</p>
                            </td>
                            <td>
                                <a href="film-category" target="_blank">/film-category</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="mb-0 text-muted">GET</p>
                            </td>
                            <td>
                                <a href="/film-category/id/1" target="_blank">/film-category/id/1</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="card shadow-sm mt-4">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h5>Inventory</h5>
                    <div>
                        <span class="badge rounded-pill bg-secondary">Paging</span>
                        <span class="badge rounded-pill bg-secondary me-1">Count: 4581</span>
                    </div>
                </div>
                <table class="table table-borderless table-sm mb-0">
                    <tbody>
                        <tr>
                            <td>
                                <p class="mb-0 text-muted">GET</p>
                            </td>
                            <td>
                                <a href="inventory" target="_blank">/inventory</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="mb-0 text-muted">GET</p>
                            </td>
                            <td>
                                <a href="/inventory/id/1" target="_blank">/inventory/id/1</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="mb-0 text-muted">GET</p>
                            </td>
                            <td>
                                <a href="/inventory?page=2&limit=25&sortBy=title:DESC"
                                    target="_blank">/inventory?page=2&limit=25&sortBy=title:DESC</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="card shadow-sm mt-4">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h5>Payment</h5>
                    <div>
                        <span class="badge rounded-pill bg-secondary">Paging</span>
                        <span class="badge rounded-pill bg-secondary me-1">Count: 14596</span>
                    </div>
                </div>
                <table class="table table-borderless table-sm mb-0">
                    <tbody>
                        <tr>
                            <td>
                                <p class="mb-0 text-muted">GET</p>
                            </td>
                            <td>
                                <a href="payment" target="_blank">/payment</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="mb-0 text-muted">GET</p>
                            </td>
                            <td>
                                <a href="/payment/id/1" target="_blank">/payment/id/1</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="mb-0 text-muted">GET</p>
                            </td>
                            <td>
                                <a href="/payment?page=2&limit=25&sortBy=title:DESC"
                                    target="_blank">/payment?page=2&limit=25&sortBy=title:DESC</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="card shadow-sm mt-4">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h5>Rental</h5>
                    <div>
                        <span class="badge rounded-pill bg-secondary">Paging</span>
                        <span class="badge rounded-pill bg-secondary me-1">Count: 16044</span>
                    </div>
                </div>
                <table class="table table-borderless table-sm mb-0">
                    <tbody>
                        <tr>
                            <td>
                                <p class="mb-0 text-muted">GET</p>
                            </td>
                            <td>
                                <a href="rental" target="_blank">/rental</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="mb-0 text-muted">GET</p>
                            </td>
                            <td>
                                <a href="/rental/id/1" target="_blank">/rental/id/1</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="mb-0 text-muted">GET</p>
                            </td>
                            <td>
                                <a href="/rental?page=2&limit=25&sortBy=title:DESC"
                                    target="_blank">/rental?page=2&limit=25&sortBy=title:DESC</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="card shadow-sm mt-4">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h5>Staff</h5>
                    <div>
                        <span class="badge rounded-pill bg-secondary me-1">Count: 0</span>
                    </div>
                </div>
                <table class="table table-borderless table-sm mb-0">
                    <tbody>
                        <tr>
                            <td>
                                <p class="mb-0 text-muted">GET / POST</p>
                            </td>
                            <td>
                                <a href="staff" target="_blank">/staff</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="mb-0 text-muted">GET / DELETE / PATCH</p>
                            </td>
                            <td>
                                <a href="/staff/id/1" target="_blank">/staff/id/1</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="card shadow-sm mt-4">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h5>Language</h5>
                    <div>
                        <span class="badge rounded-pill bg-secondary me-1">Count: 6</span>
                    </div>
                </div>
                <table class="table table-borderless table-sm mb-0">
                    <tbody>
                        <tr>
                            <td>
                                <p class="mb-0 text-muted">GET</p>
                            </td>
                            <td>
                                <a href="language" target="_blank">/language</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="mb-0 text-muted">GET</p>
                            </td>
                            <td>
                                <a href="/language/id/1" target="_blank">/language/id/1</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="card shadow-sm mt-4">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h5>Store</h5>
                    <div>
                        <span class="badge rounded-pill bg-secondary me-1">Count: 0</span>
                    </div>
                </div>
                <table class="table table-borderless table-sm mb-0">
                    <tbody>
                        <tr>
                            <td>
                                <p class="mb-0 text-muted">GET</p>
                            </td>
                            <td>
                                <a href="store" target="_blank">/store</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="mb-0 text-muted">GET</p>
                            </td>
                            <td>
                                <a href="/store/id/1" target="_blank">/store/id/1</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>